@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Inter&family=Lato&family=Open+Sans&family=Roboto&display=swap');

p{margin-top: 0; margin-bottom: 1rem}
body {
font-family: 'Arimo', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
img.jerios {
    display: block; 
    margin-left: 50; 
    margin-right: 50; 
    width: 50%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img.github {
    display: block;
    margin-left: 50;
    margin-right: 50;
    width: 20%;
}
p{
    font-size: 14px; 
    line-height: 1.428;
}
body {
    text-align: center; 
    cursor: url(mc_cursor.png), auto; 
    background-color: black; 
    color: white ;
}
a:hover {
    -webkit-transition: 750ms;
    -o-transition: 750ms;
    transition: 750ms;
    color: red;
    list-style: none;
    border-bottom: 5px solid rgb(4, 0, 255);
    width: 20px;
}
input:hover {
    background-color: 7f7f7f;
    -webkit-transition: 1000ms;
    -o-transition: 1000ms;
    transition: 1000ms;
}
textarea:hover {
    background-color: #7f7f7f;
    -webkit-transition: 1000ms;
    -o-transition: 1000ms;
    transition: 1000ms;
}
button {
    background-color: rgb(39, 221, 39) !important;
    border: none;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }